body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: rgb(37, 9, 9);
}

form {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#prediction-result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

/* Add more styles as needed for your specific design */
